* text=auto

*.css           text
*.html          text
*.js            text
*.json          text
*.properties    text
*.sh            text
*.txt           text
*.xml           text

*.dll           binary
*.jar           binary
*.png           binary
*.jpg           binary
*.jpeg          binary
*.gif           binary
*.tif           binary
*.tiff          binary
*.ico           binary

.gitattributes  text
.gitignore      text